@CHARSET "UTF-8";
/*CSS Reset*/
* {
	margin:0px; 
	padding:0px;
}

#titulo{
	position: relative;
	height: 150px;
	
}
#cabecalho, #blocoConteudo, #blocoRodape{
	width:100%;
	height:auto;
	position:relative;
	padding:10px 0px;
}

#espaco {
	line-height: 38px;
}

#rodape{
	font-size: xx-small;
	font-family: fantasy;
	font-weight: bold;
	
}